/* CSS Document */

body{

background-color:black;
overflow:auto;
}

#contenido1{
position:relative;
left:200px;
width:800px;
background-color:white;
border-style:solid;
border-width:medium;
border-color:#3366CC;
}
#top{
background-color:#003399;
top:0px;
}
#insilico{
	position:absolute;
	font-size:10.5pt;
	left:40px;
	rigth:0px;
	overflow: hidden;
	top: 135px;
	width: 208px;
	height: 27px;
	font-family: "Times New Roman", Times, serif;

}
td.celdas{
text-align:center;
color:white;
font-family:"Times New Roman", Times, serif;
border-style:solid;
border-color:#95B3D7;
padding:5px;
margin:1;0px;
width:3cm;
height:1.5cm;
margin:5px;
}
#botones{
position:absolute;
right:20px;
top:120px;
}

#insilico2{
	position:absolute;
	font-size:18pt;
	left:28px;
	rigth:0px;
	overflow: hidden;
	top: 95px;
	width: 207px;
	height: 31px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-weight: bold;

}

#top1{
width:100%;
height:100px;
}
#top2{
background-color:#003399;
width:100%;
height:90px;
color:white;

}

#relleno{
background-color:#003399;
width:100%;
height:30px;
}
#imagen{
width:100%;
height:300px;

}
#laimagen{
width:100%;
height:100%;
}
#top_border{
background-color:#003399;
top:0px;
}
#top_border1{
width:100%;
height:100px;
}
#wraper{}
#mision{width:40%;
top:730px;
left:30px;
position:absolute;}
#vision{width:40%;
top:730px;
right:70px;
position:absolute;}
#quienes{
position:absolute;
left:30px;
right:30px;}

p.titulo{color:red;
text-align:justify;
}
p.contenido{color:blue;
text-align:justify;
}

#contenido{
width:100%;
background-color:white;
height:400px;
}