/* CSS Document */

body{

background-color:black;
overflow:auto;
}

#content1{
	border-top-style:solid;
	border-top-width:medium;
	border-top-color:#3366CC;
	border-bottom-style:solid;
	border-bottom-width:medium;
	border-bottom-color:#3366CC;
	background-image:url(../imagenes/fondo2.jpg);
	background-repeat:no-repeat;
	background-position:center;
	color:#FFFFFF;
	width: 1200px;
	height: 800px;
	position:relative;
}

#content2{
	background-color:#000099;
	border:thick;
	color:#FFFFFF;
	font-family:"Times New Roman", Times, serif;
	font-size:30px;
	width: 19.45cm;
	margin: 200px;
	height: 7cm;
	position: absolute;
	top: -30px;
	left: 40px;
	overflow:hidden;
}

#imagenDelMomento{
	position:absolute;
	left:-5px;
	top:0px;
	width: 19.923cm;
	height: 7.144cm;
}

#postTitle{
	position:absolute;
	font-size:16pt;
	left:351px;
	rigth:0px;
	overflow: hidden;
	top: -2px;
	font-weight: bold;
	width: 322px;
	height: 29px;

}


#insilico{
	position:absolute;
	font-size:10.5pt;
	left:234px;
	rigth:0px;
	overflow: hidden;
	top: 84px;
	width: 208px;
	height: 27px;
	font-family: "Times New Roman", Times, serif;

}


#insilico2{
	position:absolute;
	font-size:18pt;
	left:244px;
	rigth:0px;
	overflow: hidden;
	top: 44px;
	width: 189px;
	height: 31px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-weight: bold;

}


#postBody{
	position:absolute;
	font-size:10pt;
	left: 350px;
	top: 45px;
	width: 319px;
	height: 145px;
	overflow:visible;
	text-align:justify;
	padding:-5px;
}
#barra{position:relative;
bottom:5px;
width:50%;}
#content3{
background-color:#FFFFFF;
	border-style:solid;
	border-width:thick;
	border-color:#95B3D7;
	position:absolute;
	left: 146px;
	bottom:5px;
	width: 9cm;
	height: 4cm;
	
}
#content32{
background-color:#FFFFFF;
	border-style:solid;
	border-width:thick;
	border-color:#95B3D7;
	position:absolute;
	left: 500px;
	bottom:5px;
	width: 9cm;
	height: 4cm;
}
#informacion{
padding:5px;
text-align:justify;
position:absolute;
color:black;
top:0px;
left:150px;

}
#forma{
position:absolute;
bottom:40px;
right:150px;
}

#usuario{
background-color:#000000;
color:white;
font-family:"Times New Roman", Times, serif;
border-style:solid;
border-color:#95B3D7;
text-align:center;
padding:5px;
margin:5px;

}
#clave{background-color:#000000;
color:white;
font-family:"Times New Roman", Times, serif;
border-style:solid;
border-color:#95B3D7;
padding:5px;
margin:5px;
}
#enviar{
background-color:#0099CC;
font-family:"Times New Roman", Times, serif;
color:white;
border-color:#CCCCCC;
padding:5px;
margin:5px;

}
td.celdas{
text-align:center;
color:white;
font-family:"Times New Roman", Times, serif;
border-style:solid;
border-color:#95B3D7;
padding:5px;
margin:1;0px;
width:3cm;
height:1.5cm;
margin:5px;
}
#botones{
	position:absolute;
	right:auto;
	top:70px;
	left: 446px;
}

#enlaces{
color:white;
position:absolute;
bottom:-30px;
left:150px;

}

a:link {color:#FFFFFF}    /* unvisited link */
a:visited {color:#FFFFFF} /* visited link */
a:hover {color:#95B3D7}   /* mouse over link */
a:active {color:#0000FF}  /* selected link */
